[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
    helper = cache
[alias]
    add-upstream      = !zsh -ic add-upstream
    br                = branch
    changed           = show --pretty=\"format:\" --name-only
    ci                = commit
    cmsg              = commit -m
    co                = checkout
    count             = shortlog -sn
    cp-branch-name    = !git rev-parse --abbrev-ref HEAD | pbcopy
    delete-local-merged = !zsh -ic git-delete-local-merged
    df                = diff
    g                 = grep --break --heading --line-number
    gi                = grep --break --heading --line-number -i
    lc                = !$ZSH/bin/git-add-rm-line-count
    nuke              = !$ZSH/bin/git-nuke
    promote           = !$ZSH/bin/git-promote
    standup           = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author matt
    sync              = !zsh -ic git-sync
    unpushed-st       = !$ZSH/bin/git-unpushed-stat
    wtf               = !$ZSH/bin/git-wtf
[apply]
    whitespace = fix
[color]
    branch  = auto
    diff    = auto
    grep    = true
    status  = auto
    ui      = true
[commit]
    template = ~/.dotfiles/git/template.txt
[core]
    autocrlf          = input
    compression       = -1
    excludesfile      = ~/.gitignore
    editor            = vim
    whitespace        = trailing-space,space-before-tab
    precomposeunicode = true
[diff]
    tool = diffmerge
[difftool "diffmerge"]
    cmd = diffmerge $LOCAL $REMOTE
[difftool]
    prompt = false
[grep]
    extendRegexp = true
    lineNumber   = true
[help]
    autocorrect = 10
[merge]
    tool = meld
[mergetool]
    tool = meld
[push]
    default = simple
