"*":
  editor:
    invisibles: {}
    fontSize: 12
    showIndentGuide: true
    showInvisibles: false
    scrollPastEnd: true
    fontFamily: "Monoisome"
  core:
    hideGitIgnoredFiles: true
    autoHideMenuBar: true
    projectHome: "~/Code/"
    disabledPackages: [
      "wrap-guide"
    ]
  welcome:
    showOnStartup: false
  linter: {}
  "tree-view":
    hideVcsIgnoredFiles: false
